object	0 show	1 x	2 y	3 min	4 max	5 pic	6 name	7 dim	8 mMode	9 DigCnt	10 Order 			
1 pic					 	3	An example of closing the thyristor in DC current circuit					 		
2 5v					 				 					
3 +E1	1	17	312					 		3	1			
4 +E2					 				 					
5 -E1					 				 					
6 +I1					 				 					
7 +I2					 				 					
8 fgen	1	472	487					 		0;0;0;0;0	0;0;0;0;0			
9 														
10 	 													
11 mt	1	415	329	-10.00	10.00	UD	V1	V	DC	3	21			
12 mt	1	858	329	-10.00	10.00	UD	V2	V	DC	3	23			
13 mt	1	606	49	-10.00	10.00	RL	V3	V	DC	3	24			
14 mt	1	285	329	-10000.00	10000.00	UD	A1	mA	DC	3	20			
15 mt	1	721	329	-10000.00	10000.00	UD	A2	mA	DC	3	22			
16 mt					 				 					
17 mt					 				 					
18 mt					 				 					
19 el	1	187	212	100.00		R	R1	Ohm		4	25			
20 el	1	513	118	100.00		R	R2	Ohm		0	27			
21 el	1	811	69	10.00		R	R3	kOhm		0	29			
22 el	1	965	214	1000.00		R	R4	Ohm		0	30			
23 el	1	260	68	200.00		R	Rload	Ohm		0	31			
24 el	1	645	103	1.00		C	C1	uF		0	28			
25 el					 				 					
26 el					 				 					
27 el					 				 					
28 el					 				 					
29 el					 				 					
30 el					 				 					
31 el					 				 					
32 el					 				 					
33 el					 				 					
34 el					 				 					
35 el					 				 					
36 el					 				 					
37 el					 				 					
					 				 					
