object	0 show	1 x	2 y	3 min	4 max	5 pic	6 name	7 dim	8 mMode	9 DigCnt	10 Order 			
1 pic					 	2	Circuit diagram for plotting the scope traces of FET transistor switch					 		
2 5v	1	777	178					 		0	5			
3 +E1					 				 					
4 +E2					 				 					
5 -E1					 				 					
6 +I1					 				 					
7 +I2					 				 					
8 fgen	1	11	464					 		3;3;0;0;0	1;2;0;0;0			
9 														
10 	 													
11 mt					 				 					
12 mt					 				 					
13 mt					 				 					
14 mt					 				 					
15 mt					 				 					
16 mt					 				 					
17 mt					 				 					
18 mt					 				 					
19 el	1	879	253	0.00		F	t-opening	us		5	14			
20 el	1	879	313	0.00		F	t-closing	us		3	15			
21 el	1	674	-9	100.00		F	R	Ohm		0	13			
22 el					 				 					
23 el					 				 					
24 el					 				 					
25 el					 				 					
26 el					 				 					
27 el					 				 					
28 el					 				 					
29 el					 				 					
30 el					 				 					
31 el					 				 					
32 el					 				 					
33 el					 				 					
34 el					 				 					
35 el					 				 					
36 el					 				 					
37 el					 				 					
					 				 					
