object	0 show	1 x	2 y	3 min	4 max	5 pic	6 name	7 dim	8 mMode	9 DigCnt	10 Order 			
1 pic					 		Circuit diagram for plotting the C-V curve of the varicap 					 		
2 5v					 				 					
3 +E1	1	237	243					 		3	1			
4 +E2					 				 					
5 -E1					 				 					
6 +I1					 				 					
7 +I2					 				 					
8 fgen	1	8	455					 		3;3;0;0;0	4;5;0;0;0			
9 														
10 	 													
11 mt	1	722	376	-10.00	10.00	UD	V1	V	AC	3	7			
12 mt					 				 					
13 mt					 				 					
14 mt					 				 					
15 mt					 				 					
16 mt					 				 					
17 mt					 				 					
18 mt					 				 					
19 el					 				 					
20 el					 				 					
21 el					 				 					
22 el					 				 					
23 el					 				 					
24 el					 				 					
25 el					 				 					
26 el					 				 					
27 el					 				 					
28 el					 				 					
29 el					 				 					
30 el					 				 					
31 el					 				 					
32 el					 				 					
33 el					 				 					
34 el					 				 					
35 el					 				 					
36 el					 				 					
37 el					 				 					
					 				 					
