object	0 show	1 x	2 y	3 min	4 max	5 pic	6 name	7 dim	8 mMode	9 DigCnt	10 Order 			
1 pic					 	1	Circuit diagram for plotting the positive branch of the I-V characteristic					 		
2 5v					 				 					
3 +E1	1	56	270					 		3	0			
4 +E2					 				 					
5 -E1					 				 					
6 +I1					 				 					
7 +I2					 				 					
8 fgen					 				 					
9 														
10 	 													
11 mt	1	921	250	-10.00	10.00	UD	V1	V	DC	3	8			
12 mt	1	374	253	-10.00	10.00	UD	V2	V	DC	3	6			
13 mt	1	781	250	-10.00	10.00	UD	A1	mA	DC	3	7			
14 mt					 				 					
15 mt					 				 					
16 mt					 				 					
17 mt					 				 					
18 mt					 				 					
19 el	1	633	27	100.00		R	R	Ohm		3	9			
20 el					 				 					
21 el					 				 					
22 el					 				 					
23 el					 				 					
24 el					 				 					
25 el					 				 					
26 el					 				 					
27 el					 				 					
28 el					 				 					
29 el					 				 					
30 el					 				 					
31 el					 				 					
32 el					 				 					
33 el					 				 					
34 el					 				 					
35 el					 				 					
36 el					 				 					
37 el					 				 					
					 				 					
