object	0 show	1 x	2 y	3 min	4 max	5 pic	6 name	7 dim	8 mMode	9 DigCnt	10 Order 			
1 pic					 		Circuit diagram of the controlled one-half wave rectifier					 		
2 5v	1	600	481					 		0	20			
3 +E1					 				 					
4 +E2					 				 					
5 -E1					 				 					
6 +I1					 				 					
7 +I2					 				 					
8 fgen	1	12	474					 		0;2;0;0;0	1;2;0;0;0			
9 														
10 	 													
11 mt	1	183	198	-10.00	10.00	UD	V1	V	DC	3	21			
12 mt	1	308	425	-10.00	10.00	UD	V2	V	DC	3	22			
13 mt	1	857	161	-10.00	10.00	UD	V3	V	DC	3	23			
14 mt					 				 					
15 mt					 				 					
16 mt					 				 					
17 mt					 				 					
18 mt					 				 					
19 el	1	538	364	1000.00		R	R2	Ohm		4	25			
20 el	1	640	367	1000.00		R	R3	Ohm		0	26			
21 el	1	716	135	200.00		R	Rload	Ohm		0	27			
22 el	1	448	427	2.00		C	C	uF		0	28			
23 el	1	425	215	0.00		R	R1	Ohm		0	24			
24 el					 				 					
25 el					 				 					
26 el					 				 					
27 el					 				 					
28 el					 				 					
29 el					 				 					
30 el					 				 					
31 el					 				 					
32 el					 				 					
33 el					 				 					
34 el					 				 					
35 el					 				 					
36 el					 				 					
37 el					 				 					
					 				 					
